{% extends "base.html" %}

{% block content %}
    <h2>Log in</h2>

    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.username.label }}<br/>
        {{ form.username }}<br/>
        {{ error_macro.print_errors(form.username) }}<br/>

        {{ form.password.label }}<br/>
        {{ form.password }}<br/>
        {{ error_macro.print_errors(form.password) }}<br/>

        {{ form.remember.label }}
        {{ form.remember }}<br/>
        {{ error_macro.print_errors(form.remember) }}

        {{ error_macro.print_flashes() }}<br/>

        {{ form.submit }}
    </form>
{% endblock %}