{% extends "base.html" %}

{% block content %}
    {% if top_text %}
        <h2>{{ top_text }}</h2>
    {% endif %}

    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        
        <span style="color: gray;">Created: {{ post.date_created }}</span><br/>
        <span style="color: gray; display: inline-block; margin-bottom: 1em;">Author: <a href="{{ url_for("user", id=post.creator.id) }}">{{ post.creator.username }}</a></span>

        {% if current_user == post.creator or current_user.is_admin %}
            <br/>
            <a style="display: inline-block; margin-bottom: 1em;" href="{{ url_for("remove_post", post_id=post.id, next=request.full_path) }}">Remove</a>
        {% endif %}

        <div class="markdown" style="padding: 3px; border: 1px solid black; margin-bottom: 3em;">{{ post.markdown }}</div>
    {% endfor %}
    
    {% if total_pages > 0 %}
        {% set PAGINATION_PAGES = 9 %}
        {% set start_page = current_page - PAGINATION_PAGES // 2 %}
        {% set end_page = current_page + PAGINATION_PAGES // 2 %}

        {% if start_page < 1 and end_page > total_pages %}
            {% set start_page = 1 %}
            {% set end_page = total_pages %}
        {% elif start_page < 1 %}
            {% set start_page = 1 %}
            {% set end_page = PAGINATION_PAGES %}
        {% elif end_page > total_pages %}
            {% set start_page = total_pages - PAGINATION_PAGES + 1 %}
            {% set end_page = total_pages %}
        {% endif %}

        
        {% if current_page != 1 %}
            <a href="{{ url_for(pagination_target, page=1, **url_kwargs) }}"><<</a>
            <a href="{{ url_for(pagination_target, page=current_page-1, **url_kwargs) }}"><</a>
        {% endif %}

        {% for page in range(start_page, end_page + 1) %}
            {% if page == current_page %}
                <a href="{{ url_for(pagination_target, page=page, **url_kwargs) }}"><strong>{{ page }}</strong></a>
            {% else %}
                <a href="{{ url_for(pagination_target, page=page, **url_kwargs) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page != total_pages %}
            <a href="{{ url_for(pagination_target, page=current_page+1, **url_kwargs) }}">></a>
            <a href="{{ url_for(pagination_target, page=total_pages, **url_kwargs) }}">>></a>
        {% endif %}
    {% endif %}
{% endblock %}
